
/********* NavBar **************/
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.navbar {
    margin: 0;
}

.navbar-nav>li>a {
    line-height: 45px;
}

.navbar-form {
    margin-top: 10px;
}

.navbar-brand, .navbar-brand a {
    padding-top: 0px !important;
    line-height: 40px;
}

.dropdown ul.dropdown-menu:before {
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: 16px;
    top: -10px;
    z-index: 10;
}

.dropdown ul.dropdown-menu:after {
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    position: absolute;
    right: 14px;
    top: -12px;
    z-index: 9;
}

.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 300px;
}

.dropdown {
    border-radius: 4px;
    width: 300px;
}

/*************Material Design**************/
@import url(http://fonts.googleapis.com/css?family=Roboto);

.wrapper {
    height: 100%;
    transition: all 300ms ease-in-out;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.menu {
    font-size:1em;
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: 15em !important;
    z-index: 5;
}

.menu .row {
    margin: 1em 2px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}

.menu .row .div {
    bottom: 0px;
}

.menu .navElem {
    min-height: 2em;
    font-weight: bold;
}

.menu span {
    font-size: 1.8em;
    padding-left: 10px;
    display: inline-block;
    padding: 0 auto;
}

.menu a {
    text-decoration: none;
    color: #3367d6;
}

.menu a:hover {
    text-decoration: underline;
}

.menu div:last-child {
    border: 0;
}

.menu--off {
    position: absolute;
    left: -157px;
    width: 50%;
    display: block;
    background: #eee;
    min-height: 600px;
    height: 125%;
    transition: all 300ms;
}

@media (max-width: 768px) {
    .menu--off {
        left: -100%;
    }

    .menu {
        width: 7em !important;
    }
}

.menu--on {
    left: 0;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
}

.material-design-hamburger button {
    display: block;
    border: none;
    background: none;
    outline: 0;
}

.material-design-hamburger__icon {
    padding: 3rem 1rem;
    cursor: pointer;
}

.material-design-hamburger__layer {
    display: block;
    width: 40px;
    height: 4px;
    background: #eee;
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: 4px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
    bottom: 200%;
}

.material-design-hamburger__layer:after {
    top: 200%;
}

.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    -webkit-animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    -webkit-animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    -webkit-animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
    -webkit-animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
    -webkit-animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
    -webkit-animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
    0% {
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes material-design-hamburger__icon--slide-before {
    0% {
    }
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-after {
    0% {
    }
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(-180deg);
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}