<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Submit your challenge</title>
    <link rel="stylesheet" type="text/css" href="../css/superhero-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body ng-app="main-controller">
<div class="container" style="width:100%" ng-controller="ChallengeSubmit as chalg">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="../images/postit.png"
                             style="width:40%;height:40%" class="img-responsive"
                             alt="Console Admin"/>
                    </div>
                </div>
                <form method="get">
                    <h1>Create a challenge!</h1>

                    <input class="form-control" ng-model="formData.name" type="text"
                           placeholder="Your challenge name" required>

                    <h3>Category</h3>

                    <span style="padding-left: 0.2em" ng-repeat="category in formData.challengeCategories">
                        <label>
                            <input class="chck" id="category" type="checkbox" value="category">
                            {{category}}
                        </label>
                    </span>

                    <h3>Proof type</h3>

                    <div class="styled-select">
                        <select ng-model="formData.challengeType"
                                ng-options="option for option in chalg.challengeTypes">

                        </select>
                    </div>

                    <h3>Difficulty</h3>
                    <input ng-model="formData.difficulty" type="range" value="3" step="1" min="1" max="5"
                           data-show-value="true" data-popup-enabled="true">

                    <div style="text-align: center">{{formData.difficulty}}</div>

                    <textarea class="form-control" placeholder="Your description of the challenge" require
                              ng-model="formData.description"></textarea>
                    <br/>
                    <button class="btn btn-success btn-block btn-lg" type="submit" ng-click="createChallenge()">Post
                        your Challenge!
                    </button>

                </form>

                <script src="../js/angular.min.js"></script>
                <script src="../js/challengeService.js"></script>
                <script src="../js/challenge-submit.js"></script>
                <script src="../js/mainChallengeController.js"></script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
