<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Submit your challenge</title>
    <script src="../js/angular.min.js"></script>
    <script src="../js/challenge-submit.js"></script>
</head>
<body ng-app="challenge-submit">
<div ng-controller="ChallengeSubmit as chalg">
    <form method="get">
        <h1>Create a challenge</h1>

        <p>Name it</p> <input ng-model="chalg.challenge.name" type="text" placeholder="Your challenge name" required>

        <p>Category</p>

        <div ng-repeat="category in chalg.challengeCategories">
            <input type="checkbox" value="category">{{category}}
        </div>

        <p>Proof type</p>
        <select>
            <option ng-repeat="challengeType in chalg.challengeTypes" value="challengeType">{{challengeType}}</option>
        </select>

        <p>Difficulty</p>
        <input ng-model="chalg.challenge.difficulty" type="range" value="3" step="1" min="1" max="5"
               data-show-value="true" data-popup-enabled="true">
        <span>{{chalg.challenge.difficulty}}</span>

        <p>Description</p>
        <textarea placeholder="Your description of the challenge" required></textarea>
        <input type="submit">

    </form>
</div>
</body>
</html>