<form ng-controller="ProofSubmit as prf">
    <input class="form-control" ng-model="formData.content" type="hidden"
           value="<%= challenge.challengeID %>">
    <input class="form-control" ng-model="formData.content" type="text"
           placeholder="Your challenge proof" required>

    <button style="width:95%" class="btn btn-sky btn-lg text-uppercase" type="submit" ng-click="postChallengeProof()">
        Challenge accepted!
    </button>
</form>
