<footer>
    <div class="container">
        <a class="footer-brand pull-left" href="#" title="logo"><i class="icon_rook"></i> ChallengeU</a>
        <span class="design-by pull-right">&copy; 2014 ChallengeU. All Rights Reserved.</span>
    </div>
</footer>
<a href="#" class="back-to-top wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.0s"><i
            class="fa fa-angle-up"></i></a>