<meta charset="UTF-8">
<link sizes="32x32" rel="icon" type="image/png" href="/images/icon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ChallengeU - <%= title %></title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/alerts.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/css/3d-btns.css">
<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/css/ng-tags-input.css">
