<!--<form ng-controller="ProofSubmit as prf" class="form-horizontal">

    <input class="form-control" ng-model="formData.challengeID" type="hidden" ng-init="formData.challengeID = <%= challenge.id %>">
    <fieldset>
        <legend>Respond</legend>
        <div class="form-group">
            <div class="col-md-12">
                <textarea class="form-control" ng-model="formData.content" placeholder="Your challenge proof" required></textarea>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-8">
            <button style="width:95%" class="btn btn-sky btn-lg text-uppercase" type="submit" ng-click="postChallengeProof()">
                Challenge accepted!
            </button>
        </div>
    </fieldset>
    <br>
</form>-->

<div class="modal fade" id="responseModal">
    <div class="modal-dialog">

        <div class="modal-content">
            <form ng-controller="ProofSubmit as prf" class="form-horizontal" name="proof-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
                    <h4 class="modal-title">Bring it on!</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" ng-model="formData.challengeID" type="hidden"
                           ng-init="formData.challengeID = <%= challenge.id %>">

                    <div class="form-group">
                        <div class="col-md-12">
                            <% if (challenge.type == "photo") { %>
                            <input id="image" class="form-control" type="file" accept="image/*"/>
                            <% } else if (challenge.type == "text") { %>
                            <textarea class="form-control" ng-model="formData.content"
                                      placeholder="Your challenge proof" required></textarea>
                            <% } else if (challenge.type == "video") { %>
                            <input id="" class="form-control" type="url"
                                   pattern="http://www\.youtube\.com\/(.+)|https://www\.youtube\.com\/(.+)"
                                   placeholder="Youtube video link"/>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Chicken out</button>
                    <button type="button" class="btn btn-fresh" type="submit" ng-disabled="!proof-form.$valid"
                            ng-click="postChallengeProof('<%= challenge.type %>')">
                        Challenge Accepted
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->