<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body ng-app="search-challenges-app">
<!--<% include partials/header %>-->

<div class="container" ng-controller="ChallengeSearchController as searchCtrl">
    <form name="search">
        <input class="form-control" ng-model="formData.searchValue" type="text" placeholder="Search for challenges"
               required/>
        <button type="submit" class="btn btn-block btn-lg btn-danger" ng-disabled="!search.$valid"
                ng-click="searchChallenge()">Search!
        </button>
    </form>
</div>


<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script src="../js/app-search-challenges.js"></script>

</body>
</html>