<base href="/reset">
<div ng-controller="forgotPasswordController as forgot">
    <div class="row">
        <h1 style="text-align: center" class="text-primary">Forgot Password? No problem, it happens.</h1>

        <div class="panel-body">
            <form method="get">
                <input class="form-control" ng-model="formData.email" type="text"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Insert your email"
                       required>

                <div style="text-align: center">
                    <button class="btn btn-sky btn-lg text-uppercase" type="submit" ng-click="sendReset()">
                        Send mail with password reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
