<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body>
<% include partials/header %>
<div>
    <div class="container">
        <section>
            <div class="container vertical-offset-100">
                <div class="board">
                    <div class="board-inner">

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="../js/util.js"></script>
</body>
</html>