<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/landing/animate.css">
    <link rel="stylesheet" href="../css/landing/icons.css">
    <link rel="stylesheet" href="../css/landing/default-nivo-theme.css" type="text/css">
    <link rel="stylesheet" href="../css/landing/nivo-lightbox.css" type="text/css">
    <link href="../css/landing/style.css" rel="stylesheet">
    <script src="../js/landing/respond.min.js"></script>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="padding-bottom: 1em">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#" title="logo"><img src="/images/icon.png" height="30" width="30"
                                                               style="float:left; margin-top: 11px"/>
                <div style="float: right; margin-left: 0.5em">ChallengeU</div></a></div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right" id="menu">
                <li><a data-scroll data-options="easing: easeOutQuart" href="#slider">Home</a></li>
                <li><a data-scroll data-options="easing: easeOutQuart" href="#services">Overview</a></li>
                <li><a data-scroll data-options="easing: easeOutQuart" href="#features">Features</a></li>
                <li><a data-scroll data-options="easing: easeOutQuart" href="#about">About</a></li>
                <li><a data-scroll data-options="easing: easeOutQuart" href="#gallery">Screenshots</a></li>
                <li><a data-scroll data-options="easing: easeOutQuart" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
</div>
<% include partials/header %>
<section id="slider">
    <div class="container ">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active ">
                    <img src="../images/landing/challenge-accepted.png" alt="Iphone 6"
                         class="wow fadeInRight pull-right" data-wow-duration="0.8s" data-wow-delay="0.8s"/>

                    <div class="carousel-caption">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Welcome to ChallengeU</h3>

                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Post your challenges!</p>
                        <a href="/connect" class="btn main-btn btn-lg wow bounceIn btn-success" data-wow-duration="1s"
                           data-wow-delay="1s">Connect Now
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/landing/iceb_billgates.png" alt="Iphone 6"
                         class="wow fadeInRight pull-right" data-wow-duration="0.8s" data-wow-delay="0.8s"/>

                    <div class="carousel-caption">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Several Types of
                            Challenges</h3>

                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Private, Community or
                            Friendly</p>
                        <a href="/connect" class="btn main-btn btn-lg wow bounceIn btn-success" data-wow-duration="1s"
                           data-wow-delay="1s">Connect Now
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/landing/progression.png" alt="Iphone 6"
                         class="wow fadeInRight pull-right" data-wow-duration="0.8s" data-wow-delay="0.8s"/>

                    <div class="carousel-caption" style="width: 50%">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Progression!</h3>

                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Make your way to the top with
                            unique achievements</p>
                        <a href="/connect" class="btn main-btn btn-lg wow bounceIn btn-success" data-wow-duration="1s"
                           data-wow-delay="1s">Connect Now
                        </a>
                    </div>
                </div>

                <div class="item">
                    <img src="../images/landing/Google-Maps.jpg" alt="Iphone 6"
                         class="wow fadeInRight pull-right" data-wow-duration="0.8s" data-wow-delay="0.8s"/>

                    <div class="carousel-caption" style="width: 50%">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Geolocation</h3>

                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Use your current location to
                            post a geographic based challenge</p>
                        <a href="/connect" class="btn main-btn btn-lg wow bounceIn btn-success" data-wow-duration="1s"
                           data-wow-delay="1s">Connect Now
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Carousel -->
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
        <span class="arrow-icon arrow_carrot-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
        <span class="arrow-icon arrow_carrot-right"></span>
    </a>
</section>

<section id="services" class="section" style="min-height: 20em;">
    <div class="container">
        <div class="row">
            <h2 class="heading wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">It's Awesome</h2>

            <div class="separator_wrapper wow bounceIn">
                <div class="separator_first_circle">
                    <div class="separator_second_circle">
                    </div>
                </div>
            </div>
            <h3 class="helping-text wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Take a look into some
                of our system's awesome features.</h3>

            <div class="col-md-4 col-sm-4 service-box">
                <span class="service-icon wow bounceIn" data-wow-duration="1s" data-wow-delay="1s"><i
                            class="icon_mobile"></i></span>

                <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Multiplatform</h3>

                <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">One application for all
                    devices.</p>
            </div>
            <div class="col-md-4 col-sm-4 service-box">
                <span class="service-icon wow bounceIn" data-wow-duration="1s" data-wow-delay="1s"><i
                            class="icon_adjust-vert"></i></span>

                <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Easy to Use</h3>

                <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">click the signup
                    button and you'll be ready to start participating right away. Fast and lightweight!</p>
            </div>
            <div class="col-md-4 col-sm-4 service-box">
                <span class="service-icon wow bounceIn" data-wow-duration="1s" data-wow-delay="1s"><i
                            class="icon_community"></i></span>

                <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Good community</h3>

                <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Signup and join a great community
                    with a fun mindset.</p>
            </div>
        </div>
    </div>
</section>
<section id="features" class="section">
    <div class="container">
        <div class="row">
            <h2 class="heading wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">Achieve fame and
                fortune</h2>

            <div class="separator_wrapper wow bounceIn">
                <div class="separator_first_circle">
                    <div class="separator_second_circle">
                    </div>
                </div>
            </div>
            <h3 class="helping-text wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"><em>Suit up</em>
                and follow this steps:</h3>

            <div class="col-md-4 col-sm-4 left-feature">
                <div class="media wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <a class="pull-right" href="#">
                        <div class="icon-container">
                            <div class="icon"><i class="icon_lightbulb"></i></div>
                        </div>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">That Idea</h4>

                        <p>Have a (great) idea for a challenge.</p>
                    </div>
                </div>
                <div class="media wow bounceIn" data-wow-duration="1s" data-wow-delay="1.2s">
                    <a class="pull-right" href="#">
                        <div class="icon-container">
                            <div class="icon"><i class="icon_book"></i></div>
                        </div>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">That parameters</h4>

                        <p>Target the whole community, your friends or that special one, select expected difficulty
                            and the media in which the proof must be provided</p>
                    </div>
                </div>
                <div class="media wow bounceIn" data-wow-duration="1s" data-wow-delay="1.4s">
                    <a class="pull-right" href="#">
                        <div class="icon-container">
                            <div class="icon"><i class="icon_star"></i></div>
                        </div>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">That fame</h4>

                        <p>Validate responses and see your challenge grow!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 center-feature">
                <img src="../images/landing/challenge-barney.png" alt="Barney"
                     class="wow fadeInUp iphone" data-wow-duration="0.8s" data-wow-delay="0.8s"/>
            </div>
            <div class="col-md-4 col-sm-4 right-feature">
                <div class="media wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <a class="pull-left" href="#">
                        <div class="icon-container">
                            <div class="icon"><i class="icon_cloud"></i></div>
                        </div>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">That feeling</h4>

                        <p>If you find a challenge that really sparks that primordial feeling, plan your very own way
                            to accomplish it</p>
                    </div>
                </div>
                <div class="media wow bounceIn" data-wow-duration="1s" data-wow-delay="1.2s">
                    <a class="pull-left" href="#">
                        <div class="icon-container">
                            <div class="icon"><i class="icon_film"></i></div>
                        </div>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">That proof</h4>

                        <p>Don't forget to have a proof of what you've done in the required media type</p>
                    </div>
                </div>
                <div class="media wow bounceIn" data-wow-duration="1s" data-wow-delay="1.4s">
                    <a class="pull-left" href="#">
                        <div class="icon-container">
                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                        </div>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">That XP</h4>

                        <p>If your response to the challenge is original you'll most certainly achieve many up-votes and
                            earn experience
                            point, climbing up the ladder to fame and fortune</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">
                <h2 class="heading">Such itchy <em>status-quo</em></h2>

                <div class="separator_wrapper wow bounceIn">
                    <div class="separator_first_circle">
                        <div class="separator_second_circle">
                        </div>
                    </div>
                </div>
                <p>

                    The twenty-first century brought society all the goodies to make lives seamlessly simplified,
                    leading us to enter a state of accommodation.
                </p>

                <p>
                    As the routine-haters that we are, we sought to merge technology with a way to make us feel
                    connected in an interactive way, and bring the beast inside of us to the wild, developing a more
                    expressive lifestyle and to grasp the reality that surrounds us. As a consequence, <b>ChallengeU</b>
                    was born: an innovative social network, that prompts its users to challenge one another, always
                    seeking
                    coopeting to achieve a greater good.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="gallery">
    <div class="container">
        <div class="row">
            <h2 class="heading wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Behold</h2>

            <div class="separator_wrapper wow bounceIn">
                <div class="separator_first_circle">
                    <div class="separator_second_circle">
                    </div>
                </div>
            </div>
            <h3 class="helping-text wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Take a sneak peek into
                some of the challenge response's pictures the community sent.</h3>

            <div id="carousel-gallery" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-gallery" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-gallery" data-slide-to="1"></li>
                </ol>
                <div class="gallery-grid">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow bounceIn" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="#" data-target="#screenshot-1" class="thumbnail hcaption">
                                    <img src="../images/landing/iceb.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-1" class="hide-none hover-text">
                                    <p>Ice Bucket</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../landing/images/iceb.jpg"
                                       title="Ice Bucket Challenge">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow bounceIn" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="#" data-target="#screenshot-2" class="thumbnail hcaption">
                                    <img src="../images/landing/rice.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-2" class="hide-none hover-text">
                                    <p>Rice Bucket</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/rice.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow bounceIn" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="#" data-target="#screenshot-3" class="thumbnail hcaption">
                                    <img src="../images/landing/rubble.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-3" class="hide-none hover-text">
                                    <p>Rubble Bucket</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/rubble.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow bounceIn" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="#" data-target="#screenshot-4" class="thumbnail hcaption">
                                    <img src="../images/landing/cinnamon.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-4" class="hide-none hover-text">
                                    <p>Cinnamon</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/cinnamon.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                                <a href="#" data-target="#screenshot-5" class="thumbnail hcaption">
                                    <img src="../images/landing/flour.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-5" class="hide-none hover-text">
                                    <p>Flour</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/flour.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                                <a href="#" data-target="#screenshot-6" class="thumbnail hcaption">
                                    <img src="../images/landing/iceb.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-6" class="hide-none hover-text">
                                    <p>UI/UX Design</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/iceb.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                                <a href="#" data-target="#screenshot-7" class="thumbnail hcaption">
                                    <img src="../images/landing/iceb.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-7" class="hide-none hover-text">
                                    <p>UI/UX Design</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/iceb.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                                <a href="#" data-target="#screenshot-8" class="thumbnail hcaption">
                                    <img src="../images/landing/iceb.jpg"
                                         alt="Screenshot">
                                </a>

                                <div id="screenshot-8" class="hide-none hover-text">
                                    <p>UI/UX Design</p>
                                    <a class="nivo-light" data-lightbox-gallery="portfolio"
                                       href="../../landing/images/iceb.jpg"
                                       title="This is an image title">
                                        <div class="icon-container">
                                            <div class="icon"><i class="icon_plus_alt2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="parallax-2" class="bgParallax" data-speed="15">
    <div class="color-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <h2 class="heading">Available On Store</h2>
                    <a href="#" class="btn line-btn btn-lg">Download Android</a> <a href="#"
                                                                                    class="btn line-btn btn-lg">Download
                        Apple</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="section">
    <div class="container">
        <div class="row">
            <h2 class="heading wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Contact</h2>

            <h3 class="helping-text wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Get in touch!</h3>

            <div class="col-md-8">
                <form role="form" id="contact-form" class="contact-form">
                    <div class="row">
                        <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Name" autocomplete="off" id="Name"
                                       placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" autocomplete="off" id="email"
                                       placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="form-group">
                                <textarea class="form-control textarea" rows="3" name="Message" id="Message"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn main-btn btn-lg pull-right wow bounceIn btn-success"
                                    data-wow-duration="1s" data-wow-delay="1s">Send a message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="contact-info">
                            <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Our company:</h4>
                            <address class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                                <strong>The ChallengeU Inc.</strong><br>
                                48800 Main Road, Chakwal<br>
                            </address>
                            <address class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                                <abbr title="Phone">P:</abbr> (92) 332-5903076
                                <a href="mailto:#">waqashussain91@gmail.com</a>
                            </address>
                            <br/>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <ul class="list-inline social">
                            <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="0.8s"><a href="#"><i
                                            class="social_facebook_circle"></i></a></li>
                            <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.0s"><a href="#"><i
                                            class="social_twitter_circle"></i></a></li>
                            <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.2s"><a href="#"><i
                                            class="social_googleplus_circle"></i></a></li>
                            <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.4s"><a href="#"><i
                                            class="social_linkedin_circle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer %>

<!-- Bootstrap core JavaScript
    ================================================== -->

<script type="text/javascript" src="/js/libraries/bootstrapValidator.min.js"></script>

<% include partials/scripts %>

<script type="text/javascript" src="/js/holder.js"></script>
<script type="text/javascript" src="/js/landing/jquery.hcaptions.js"></script>

</body>
</html>
