<div ng-controller="LoginController as loginCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="../images/login.png" style="width:30%;height:30%" class="img-responsive"
                             alt="Console Admin"/>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="loginForm">
                        <div class="form-group input-group">
                                <span class="input-group-addon">
                                    @
                                </span>
                            <input class="form-control" ng-model="formData.username" type="text"
                                   placeholder="Username"
                                   required/>
                        </div>
                        <br/>

                        <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock">
                                    </i>
                                </span>
                            <input class="form-control" ng-model="formData.password" type="password"
                                   placeholder="Password"
                                   required/>
                        </div>
                        <br/>
                        <a href="">Forgot your password?</a>
                        <br/>
                        <button style="width: 100%" class="btn btn-sky btn-lg text-uppercase" ng-disabled="!loginForm.$valid"
                                type="submit"
                                ng-click="login()">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>