<div ng-controller="LoginController as loginCtrl">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="../images/login.png" style="width:30%;height:30%" class="img-responsive"
                             alt="Console Admin"/>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="loginForm">
                        <div class="col-sm-12">
                            <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        @
                                    </span>
                                <input class="form-control" ng-model="formData.username" type="text"
                                       placeholder="Username"
                                       required/>
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm-12">
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock">
                                    </i>
                                </span>
                                <input class="form-control" ng-model="formData.password" type="password"
                                       placeholder="Password"
                                       required/>
                            </div>
                        </div>
                        <br/>
                        <a href="" data-toggle="modal"
                           data-target="#myModal">Forgot your password?</a>
                        <br/>
                        <button style="width: 100%" class="btn btn-sky btn-lg text-uppercase" ng-disabled="!loginForm.$valid"
                                type="submit"
                                ng-click="login()">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-question"></i> Forgot your password?</h4>
            </div>
            <div class="modal-body">
                <% include forgot %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>