<!DOCTYPE html>
<html>
<head lang="en">
    <% include partials/head %>
</head>
<base href="/reset">
<body ng-app="forgot-app">
<% include partials/header %>
<div ng-controller="forgotPasswordController as forgot">
    <form method="get">
        <h1>Forgot Password</h1>
        <input class="form-control" ng-model="formData.password" type="password" pattern=".{7,}" placeholder="New password" required>
        <input class="form-control" ng-model="formData.confirmPassword" type="password" pattern=".{7,}" placeholder="Confirm new password" required>
        <button class="btn btn-success btn-block btl-lg" type="submit" ng-click="reset()">
            Update Password
        </button>
    </form>
</div>
<% include partials/footer %>
<% include partials/scripts %>
<script src="../js/app-forgot.js"></script>
<% include partials/global-app-scripts %>
</body>
</html>