<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body>
<!-- TODO: include header file -->

<% search.forEach(function(value) { %>
<div class="container">
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/150/150">
            </a>

            <div class="media-body">
                <h4 class="media-heading"><%= value.name %></h4>

                <p class="text-right">By <%= value.username %></p>

                <p><%= value.content %></p>
                <ul class="list-inline list-unstyled">
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> <%= value.ncomments %></span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% }); %>
<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="../js/star-rating.min.js"></script>
<script type="text/javascript" src="../js/challenge.js"></script>

</body>
</html>